# Node modules
node_modules/
dist/
uploads/

# Ignore all env files inside env folder
env/*.env

# Ignore any other env files (optional safety)
*.env

# Allow example env file
!env/.env.example

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
